<%- include('../partials/_header.ejs') %>

<div class= "index-content">
    <img src="../assets/front.jpeg" alt="A bent barbell with a T" class="logo-image">
</div>

  <form action="/auth/sign-up" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required 
    />
    <button type="submit">Sign up</button>
  </form>

</main>
</body>
</html>