<%- include('../partials/_header.ejs') %>

    <% if (workouts.length > 0) { %>
    <ul>
    <% workouts.forEach((each) => { %>
        <li>
            <a href="/workouts/<%=each._id %>"><%= each.name %></a>
        </li>
        <br>
        <br>
    <% }) %>
    </ul>
    <% } else { %>
    <h3>There are no workouts! I guess it's a rest day.</h3>
    <% } %>
<a href="/workouts/new"><button>Add a new workout</button></a>
</main>
</body>