<%- include('../partials/_header.ejs') %>

<h1>Create a new workout</h1>

<main>
<form action="/workouts" method="POST">
    <label for="name">Workout Name: </label>
    <input type="text" name="name" id="name" required/>
    <br>
    <h2>Lifts:</h2>

    <% for (let i = 0; i < numberOfActivities; i++) { %>

    <div class="activity-builder">
        <select name="activities" id="activity1">
            <% currentUser.lifts.forEach((lift)=> { %>
            <option value="<%= lift.name %>"><%= lift.name %></option>
            <% }) %>
        </select>
        <br>
        <label for="sets">Sets:</label>
        <input type="number" name="sets" required>
        <br>
        <label for="reps">Reps:</label>
        <input type="number" name="reps" required>
        <br>
        <label for="weight">Percent of training max:</label>
        <input type="decimal" name="weight" required>
        <br>
        <br>
    </div>

    <% } %>
    <button type="submit">Create Workout</button>
</form><br>
<form action="/workouts/new/<%= numberOfActivities %>/" method="POST" name="newActivity"><button type="submit">Add an additional activity</button>
</main>
</body>
</html>