<%- include('../partials/_header.ejs') %>

<form action="/workouts" method="POST">
    <label for="name"><h2>Workout Name: </h2></label>
    <input type="text" name="name" id="name" required/>
    <br>
    <h3>Lifts:</h3>

    <% for (let i = 0; i < numberOfActivities; i++) { %>

    <div class="activity-builder">
        <select name="activities">
            <% currentUser.lifts.forEach((lift)=> { %>
            <option value="<%= lift.name %>"><%= lift.name %></option>
            <% }) %>
        </select>
        <br>
        <label for="sets">Sets:</label>
        <input type="number" name="sets" value="5" required>
        <br>
        <label for="reps">Reps:</label>
        <input type="number" name="reps" value="5" required>
        <br>
        <label for="weight">Percent of training max:</label>
        <input type="decimal" name="weight" required>
        <br>
        <br>
    </div>

    <% } %>
    <button type="submit">Create Workout</button>
</form><br>
<form action="/workouts/new/<%= numberOfActivities %>/" method="POST" name="newActivity"><button type="submit">Add an additional activity</button>
</main>
</body>
</html>