<%- include('../partials/_header.ejs') %>

<form action="/users/<%= user._id %>/lifts" method="POST">
    <label for="name"><h2>Lift Name: </h2></label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="one-rep-max">One Rep Max:</label>
    <input type="number" name="oneRepMax" id="one-rep-max">
    <br>
    <label for="three-rep-max">Three Rep Max:</label>
    <input type="number" name="threeRepMax" id="three-rep-max">
    <br>
    <label for="five-rep-max">Five Rep Max:</label>
    <input type="number" name="fiveRepMax" id="five-rep-max">
    <br>
    <button type="submit">Add Lift</button>

</form>
</main>
</body>